In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [ ]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/schools_complete.csv"
schools_df = pd.read_csv(csv_path, index_col="school_name")

schools_df

In [ ]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/students_complete.csv"
students_df = pd.read_csv(csv_path)

#students_df

#District Summary

In [ ]:
# Merge the two DataFrames (schools and students) together based on school_name
schools_and_students_df = pd.merge(students_df, schools_df, how = "left", on = ["school_name", "school_name"])
schools_and_students_df

In [ ]:
schools_and_students_df.describe()

In [ ]:
# calculate total schools
total_schools = schools_and_students_df["school_name"].unique()
total_schools = len(total_schools)
total_schools

In [ ]:
# calculate total students
total_students = schools_and_students_df["Student ID"].count()
total_students

In [ ]:
# calculate total budget
total_budget = schools_df["budget"].sum()
total_budget

In [ ]:
#calculate average math score
average_math_score = schools_and_students_df["math_score"].mean()
average_math_score

In [ ]:
#calculate average reading score
average_reading_score = schools_and_students_df["reading_score"].mean()
average_reading_score

In [ ]:
schools_and_students_df

In [ ]:
#calculate % passing math
schools_and_students_df["Pass Math"] =  np.where(schools_and_students_df["math_score"]>=70, "pass", "fail")

#make a dictionary for the pass fail percentage
pass_math_pct = {}
#                                                       normalize = True returns a percentage rather then a count
pass_math_pct = schools_and_students_df["Pass Math"].value_counts(normalize = True)#.to_frame()

#retrieve the pass percent from the dictionary
math_pct = pass_math_pct["pass"]
math_pct *= 100

print (math_pct)

In [ ]:
#calculate the % passing reading
schools_and_students_df["Pass Reading"] = np.where(schools_and_students_df["reading_score"]>=70, "pass", "fail")

#make a dictionary to hold the pass fail percentage
pass_read_pct = {}

#                                                       normalize = True returns a percentage rather then a count
pass_read_pct = schools_and_students_df["Pass Reading"].value_counts(normalize = True)

#retrieve the pass percent from the dictionary
read_pct = pass_read_pct["pass"]
read_pct *= 100

print (read_pct)

In [ ]:
#calculate the % of students who passed math and reading

    
schools_and_students_df["Pass Both"] = np.where((schools_and_students_df["Pass Reading"]=="pass") &
                                                (schools_and_students_df["Pass Math"]=="pass"), 
                                                "pass", "fail")

#make a dictionary to hold the pass fail percentage
pass_both_pct = {}

#                                                       normalize = True returns a percentage rather then a count
pass_both_pct = schools_and_students_df["Pass Both"].value_counts(normalize = True)

#retrieve the pass percent from the dictionary
both_pct = pass_both_pct["pass"]
both_pct *= 100

print (both_pct)

In [ ]:
#create data frame to hold the results

results_df = pd.DataFrame([
                            {"Total Schools" : total_schools,
                             "Total Students" : total_students,
                             "Total Students" : "{:,.0f}".format(total_students),
                             "Total Budget" : "${:,.2f}".format(total_budget),
                             "Average Math Score" : average_math_score,
                             "Average Reading Score" : average_reading_score,
                             "% Passing Math" : math_pct,
                             "% Passing Reading" : read_pct,
                             "% Overall Passing" : both_pct
                            }
                         ])
results_df

In [ ]:
#display the data frame to see new columns
schools_and_students_df

#School Summary

In [9]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/schools_complete.csv"
schools_summary_df = pd.read_csv(csv_path, index_col="school_name")
schools_summary_df.index.name = None
schools_summary_df

                       School ID      type  size   budget
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [10]:
#get just the needed columns and rename columns
schools_summary_df = schools_summary_df[["type","size","budget"]]

schools_summary_df = schools_summary_df.rename(columns={"school_name":"",
                                                        "type":"School Type",
                                                        "size":"Total Students",
                                                        "budget":"Total School Budget"
                                                        })
schools_summary_df

                      School Type  Total Students  Total School Budget
Huang High School        District            2917              1910635
Figueroa High School     District            2949              1884411
Shelton High School       Charter            1761              1056600
Hernandez High School    District            4635              3022020
Griffin High School       Charter            1468               917500
Wilson High School        Charter            2283              1319574
Cabrera High School       Charter            1858              1081356
Bailey High School       District            4976              3124928
Holden High School        Charter             427               248087
Pena High School          Charter             962               585858
Wright High School        Charter            1800              1049400
Rodriguez High School    District            3999              2547363
Johnson High School      District            4761              3094650
Ford High School         District            2739              1763916
Thomas High School        Charter            1635              1043130

In [7]:
#calculate the per student budget